@font-face {
    font-family: 'BPGMrgvlovaniCaps2010';
    src: url('BPGMrgvlovaniCaps2010.eot?#iefix') format('embedded-opentype'),  url('BPGMrgvlovaniCaps2010.woff') format('woff'), url('BPGMrgvlovaniCaps2010.ttf')  format('truetype'), url('BPGMrgvlovaniCaps2010.svg#BPGMrgvlovaniCaps2010') format('svg');
    font-weight: normal;
    font-style: normal;
  }